__pycache__/
.vscode/
.venv/
manufacturers/__pycache__/user_device.cpython-38.pyc
manufacturers/ASUS/__pycache__/ASUS.cpython-38.pyc
manufacturers/ASUS/ROG.py
manufacturers/ASUS/TUF.py
bash.exe.stackdump
