__pycache__/
.vscode/
.venv/
server/manufacturers/__pycache__/user_device.cpython-38.pyc
server/manufacturers/ASUS/__pycache__/ASUS.cpython-38.pyc
server/manufacturers/ASUS/ROG.py
server/manufacturers/ASUS/TUF.py
bash.exe.stackdump
api-result.json
